########################################
# CONFIG                               #
########################################

# Uncomment to set the URL at which to download your ISO file. (required)
ISO_URL = ""

# Uncomment to set the location of the downloaded ISO file you want to build a base
# machine from (required).
ISO = minix_R3.3.0-588a35b.iso

# Uncomment to set the checksum value to validate the integrity of your ISO. (required)
ISO_CHECKSUM = 78cc6093bc9e68c74f32f37e144451bd

# Uncomment to set the command for validating the checksum, without the file
# as an argument. (required)
CHECKSUM_COMMAND = md5sum --check

# Uncomment to set the name of the virtual disk for the base system. (required)
QEMU_IMG = minix-3.3.0-base.img

# Uncomment to set the size of the virtual disk. (required)
QEMU_IMG_SIZE = 10G

# Uncomment to set the location where QEMU images (your virtual hard drive) will be stored. (required)
IMG_DIR = ./img

# Uncomment to set the location where downloaded ISOs will be stored. (required)
ISO_DIR = ./iso

# Set the memory (in megabytes) of the builder VM. Note: this won't have any bearing on the memory of any future
# VMs created on top of your base image.
MEMORY = 4096
