########################################
# CONFIG                               #
########################################

# Uncomment to set the name of the install ISO file you want to build a base
# machine from (required).
ISO = ./iso/install68.iso

# Uncomment to set the URL at which to download your ISO file. (required)
ISO_URL = https://cdn.openbsd.org/pub/OpenBSD/6.8/alpha/install68.iso
# Uncomment to set the checksum value to validate the integrity of your ISO. (required)
ISO_CHECKSUM = b317d87b0a3d5b568f48a92dcabfc4bc51fe58d9f67ca13b013f1b8329d1306d

# Uncomment to set the command for validating the checksum, without the file
# as an argument. (required)
CHECKSUM_COMMAND = sha256sum --check

# Uncomment to set the name of the virtual disk for the base system. (required)
QEMU_IMG = ./img/openbsd_base.img

# Uncomment to set the size of the virtual disk. (required)
DISK_SIZE = 10G
