########################################
# CONFIG                               #
########################################

# Uncomment to set the URL at which to download your ISO file. (required)
ISO_URL = https://cdn.openbsd.org/pub/OpenBSD/6.8/amd64/install68.iso

# Uncomment to set the name of the install ISO file you want to build a base
# machine from (required).
ISO = install68.iso

# Uncomment to set the checksum value to validate the integrity of your ISO. (required)
# You should obtain this value manually from https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/SHA256SUMS
ISO_CHECKSUM = 47e291fcc2d0c1a8ae0b66329f040b33af755b6adbd21739e20bb5ad56f62b6c

# Uncomment to set the command for validating the checksum, without the file
# as an argument. (required)
CHECKSUM_COMMAND = sha256sum --check

# Uncomment to set the name of the virtual disk for the base system. (required)
QEMU_IMG = openbsd-6.8-amd64-base.img

# Uncomment to set the size of the virtual disk. (required)
QEMU_IMG_SIZE = 10G

# Uncomment to set the location where QEMU images (your virtual hard drive) will be stored. (required)
IMG_DIR = ./img

# Uncomment to set the location where downloaded ISOs will be stored. (required)
ISO_DIR = ./iso

# Set the memory (in megabytes) of the builder VM. Note: this won't have any bearing on the memory of any future
# VMs created on top of your base image.
MEMORY = 4096
