# Sets the name of the QEMU VM.
QEMU_NAME = minix-3.3.0

QEMU_IMG = minix-3.3.0.img

# Sets the SSH port of the server. You still need to configure OpenSSH.
SSH_PORT = 5751

# Sets the SPICE port for VNC-style remote access.
SPICE_PORT = 38667

# Sets the number of CPU cores the VM will use.
CORES = 1

# Set the RAM in megabytes of the VM.
MEMORY = 2000
