# Uncomment to set the name of the existing base image you would like to
# build off of. (required)
QEMU_BASE_IMG = ../base/img/openbsd-6.8.0-base.img

# Uncomment to set the name for your new VM
QEMU_NAME = openbsd-6.8.0-base.img

# Uncomment to set an SSH port for the new VM. You still need to
# enable OpenSSH during the creation of the base image for this to be of
# use. (required)
SSH_PORT = 9999

# Uncomment to set the name of the script for spinning up your new VM.
SCRIPT_FILE = up.sh
