# Sets the name of the QEMU VM.
QEMU_NAME = debian-10.7.0

QEMU_IMG = debian-10.7.0.img

# Sets the SSH port of the server. You still need to configure OpenSSH.
SSH_PORT = 53010

# Sets the SPICE port for VNC-style remote access.
SPICE_PORT = 21008

# Sets the number of CPU cores the VM will use.
CORES = 4

# Set the RAM in megabytes of the VM.
MEMORY = 4096
